---
import { Star, ArrowRight } from "@lucide/astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ProjectTags from "@components/projects/ProjectTags.astro";

const projects = await getCollection(
  "projects",
  ({ data }: CollectionEntry<"projects">) => data.featured === true,
);
type Project = CollectionEntry<"projects">;
---

<section
  class="xs:mb-0 xs:min-h-[80vh] xs:w-[85vw] mx-auto space-y-10 sm:min-h-[50vh] sm:w-[88vw] md:mb-8 md:min-h-[40vh] md:w-[85vw] lg:w-[75vw]"
>
  <div class="flex items-center justify-between">
    <h2 class="xs:text-3xl flex items-center gap-2 font-bold sm:text-4xl">
      <Star size={30} class="text-(--accent)" />
      Featured Projects
    </h2>
    <a
      href="/projects"
      class="group hidden cursor-pointer items-center gap-2 text-sm text-(--accent) underline decoration-dashed underline-offset-4 md:flex"
    >
      View All
      <ArrowRight size={18} class="duration-300 group-hover:translate-x-1" />
    </a>
  </div>

  <div class="grid grid-cols-1 items-center gap-4 md:grid-cols-2">
    {
      projects.map((p: Project) => (
        <a
          href={`/projects/${p.id}`}
          class="group cursor-pointer rounded-xl border border-(--border) bg-(--fg) duration-400 hover:border-(--accent)"
        >
          <div class="overflow-hidden rounded-t-xl">
            <Image
              src={p.data.image}
              alt={p.data.alt}
              class="aspect-video w-full rounded-t-xl transition-all duration-300 group-hover:scale-105"
            />
          </div>

          <div class="space-y-3 p-5">
            <h3 class="text-2xl font-bold duration-300 group-hover:text-(--accent)">
              {p.data.title}
            </h3>
            <p class="font-inter line-clamp-2 text-sm text-(--text-muted)">
              {p.data.desc}
            </p>
            <div class="flex items-center gap-x-2 pt-1">
              <ProjectTags tags={p.data.tags} />
            </div>
          </div>
        </a>
      ))
    }
  </div>

  <a
    href="/projects"
    class="xs:flex cursor-pointer items-center justify-center gap-2 text-sm text-(--accent) md:hidden"
  >
    View all projects
    <ArrowRight size={18} />
  </a>
</section>
