---
import { Star, ArrowRight } from "@lucide/astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ProjectTags from "@components/projects/ProjectTags.astro";

const projects = await getCollection(
  "projects",
  ({ data }: CollectionEntry<"projects">) => data.featured === true,
);
type Project = CollectionEntry<"projects">;
---

<section class="mx-auto mb-8 max-h-screen w-[75vw] space-y-10">
  <div class="flex items-center justify-between">
    <h2 class="flex items-center gap-2 text-4xl font-bold">
      <Star size={30} class="text-(--accent)" />
      Featured Projects
    </h2>
    <a
      href="/projects"
      class="group flex cursor-pointer items-center gap-2 text-sm text-(--accent) underline decoration-dashed underline-offset-4"
    >
      VIEW ALL
      <ArrowRight size={18} class="duration-300 group-hover:translate-x-1" />
    </a>
  </div>

  <div class="grid grid-cols-1 items-center gap-4 md:grid-cols-2">
    {
      projects.map((p: Project) => (
        <a
          href={`/projects/${p.id}`}
          class="group cursor-pointer rounded-xl border border-(--border) bg-(--fg) duration-400 hover:border-(--accent)"
        >
          <div class="overflow-hidden rounded-t-xl">
            <Image
              src={p.data.image}
              alt={p.data.alt}
              class="aspect-video w-full rounded-t-xl transition-all duration-300 group-hover:scale-105"
            />
          </div>

          <div class="space-y-3 p-5">
            <h3 class="text-2xl font-bold duration-300 group-hover:text-(--accent)">
              {p.data.title}
            </h3>
            <p class="font-inter line-clamp-2 text-sm text-(--text-muted)">
              {p.data.desc}
            </p>
            <div class="flex items-center gap-x-2 pt-1">
              <ProjectTags tags={p.data.tags} />
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>
