---
import { getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectTags from "@components/projects/ProjectTags.astro";
import { Image } from "astro:assets";
import { Github, ExternalLink, CalendarDays } from "@lucide/astro";
import formatDate from "../../utils/date";

const { id } = Astro.params;
const project = await getEntry("projects", id);
if (!project) return Astro.redirect("/404");

const { image, alt, date, title, tags, github, live } = project.data;
const { Content } = await render(project);
---

<Layout>
  <div
    class="xs:w-[85vw] mx-auto min-h-screen space-y-10 pt-20 sm:w-[88vw] md:w-[65vw] lg:w-[42vw]"
  >
    <!-- banner image -->
    <div class="overflow-hidden">
      <Image src={image} alt={alt} class="aspect-video rounded-xl" />
    </div>
    <!-- basic info -->
    <h1 class="xs:text-3xl font-bold text-(--accent) sm:text-5xl lg:text-6xl">
      {title}
    </h1>
    <div class="flex items-center gap-2">
      <span class="flex items-center gap-2 text-(--text-muted)">
        <CalendarDays size={18} />
        {formatDate(date)}
      </span>
      {
        github && (
          <a
            href={github}
            rel="noopener noreferrer"
            target="_blank"
            class="text-(--accent)"
          >
            <Github size={18} />
          </a>
        )
      }
      {
        live && (
          <a
            href={live}
            rel="noopener noreferrer"
            target="_blank"
            class="text-(--accent)"
          >
            <ExternalLink size={18} />
          </a>
        )
      }
    </div>
    <!-- Tags -->
    <div class="flex items-center justify-start gap-x-2">
      <ProjectTags tags={tags} />
    </div>
    <!-- mardown body -->
    <div
      class="prose prose-invert prose-h1:font-normal prose-h2:font-normal prose-h3:font-normal prose-h3:text-(--accent) prose-h2:text-(--accent) prose-h1:text-5xl prose-h1:text-(--accent) prose-a:text-(--accent) mt-6 max-w-2xl border-t border-(--text-muted) pt-6"
    >
      <Content />
    </div>
  </div>
</Layout>
