---
import Layout from "../../layouts/Layout.astro";
import { Folders } from "@lucide/astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ProjectTags from "@components/projects/ProjectTags.astro";

const projects = await getCollection("projects");
type Project = CollectionEntry<"projects">;
---

<Layout>
  <div
    class="xs:py-20 xs:px-6 mx-auto max-w-6xl space-y-8 py-0 sm:py-22 lg:px-0"
  >
    <h1
      class="xs:text-3xl flex items-center gap-4 font-bold sm:text-4xl md:text-5xl lg:text-6xl"
    >
      <Folders size={36} class="shrink-0 text-(--accent)" />
      Projects
    </h1>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((p: Project) => (
          <a
            href={`/projects/${p.id}`}
            class="group cursor-pointer rounded-xl border border-(--border) bg-(--fg) p-5 duration-400 hover:border-(--accent)"
          >
            <div class="overflow-hidden rounded-xl">
              <Image
                src={p.data.image}
                alt={p.data.alt}
                class="aspect-video w-full rounded-xl transition-all duration-300 group-hover:scale-105"
                style={`view-transition-name: proj-img-${p.id}`}
              />
            </div>

            <div class="space-y-3 pt-3">
              <h3
                class="text-2xl font-bold duration-300 group-hover:text-(--accent)"
                style={`view-transition-name: proj-h-${p.id}`}
              >
                {p.data.title}
              </h3>
              <p class="font-inter line-clamp-3 text-sm text-(--text-muted)">
                {p.data.desc}
              </p>
              <div class="flex items-center gap-x-2">
                <ProjectTags tags={p.data.tags} />
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
